<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Openweather app</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <img src="img/sun.png" alt="Logo" height="50px">
    </nav>
    <div>
        <button id="btn"></button>
        <p id="pokemon">[Your Pokémon]</p>
    </div>
    <script src="js/script.js"></script>
</body>
</html>