<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <h1>Film tid</h1>
    </nav>
    <div>
        <h2>Din film i aften er:</h2>
        <table>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Year</th>
            </tr>
            <tr>
                <td><%= title %> </td>
                <td><%= genre %> </td>
                <td><%= year %> </td>
            </tr>
        </table>
    </div>
</body>
</html>